<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}L'Empreinte - Shiatsu & MTC{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2290%22>🏮</text></svg>">
        
        {# C'est cette ligne qui charge Tailwind et tes JS #}
        {{ importmap('app') }}

        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    {# On utilise ici tes variables définies dans app.css #}
    <body class="bg-zen-sand text-zen-ink antialiased">
        {% block body %}{% endblock %}
    </body>
</html>